
.container{
    margin: 0;
    /* width: 100%; */
    min-height: 100vh;
    background-color:#120720 ;
   
    color: #f0f8ff;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    font-family: "K2D", sans-serif;
    
}

.form_container{
    display: flex;
    background-size: cover;
    background-position:left;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 20px 0;
}



.contact_header{
    margin: 0;
    padding: 0;
    display: grid;
    position: relative;
}
.contact_header h1{
    justify-self: center;
    font-size: 48px;
}


#arrow{

    left: 25%;
    width: 100px;
    position: absolute;
    top:50%;
    transform: translateY(50%);
    rotate: 180deg;
    animation: moveArrow 3s linear infinite alternate;
    
}
@keyframes moveArrow {
    0% {
        transform: translate(0, 50%);
    }
    100% {
        transform: translate(-50px,50%);
    }
}
    
.form{
    background-color:#1207206e;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 25px;
    border-radius: 25px;
    gap:15px;
    box-shadow: 0 0 20px 0 rgb(238, 0, 255);
    
}
.input_field{
    display: flex;
    flex-direction: column;
    
    
}

.input_field p{
    margin: 0;
    padding: 3px 10px;
    font-size: 14px;
    
}
.input_field input,.input_field textarea{
    width: 250px;
    border-radius: 25px;
    padding: 7px 10px;
    border-style: none;
    background-color: #492121a7;
    color: antiquewhite;
    
}

.input_field textarea{
    resize: none;
    height: 125px;

}
